@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

html, body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: lightblue;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #2980b9;
}

a:hover {
    font-weight: bolder;
    text-decoration: underline;
    color: #3498db;
}

#newest_post {
    height: auto;
}

#newest_post_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vh;
    width: 55vw;
}

#newest_post_container h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 8vh;
}

.post {
    justify-content: center;
}

.post_img img {
    height: 40vh;
}

.post_txt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 2.3vh;
    font-family: 'Crimson Text', sans-serif;
}
