html,
body{
  border: 0;
  margin: 0;
  padding: 0;
}
#bilder img{
  width: 400px;
  height: auto;
  margin-right: -4px;
}
#bilder {
  position: relative;
  width: 2000px;
  height: 225px;
}
#skjerm {
  width: 400px;
  height: 250px;
  overflow: hidden;
}
#kanper{
  width: 400px;
  margin: 0;
  padding: 0;
  border: 0;
}
