#container {
  display: flex;
}

#form {
  border: 2px solid black;
  padding: 3vw;
  width: 40vw;
  height: 20vh;
  margin-right: 3vw;
}

#output {
  border: 2px solid black;
  padding: 3vw;
  width: 40vw;
  height: 20vh;
}
